.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
    text-align: right;
}
.flex-1-1 {
    flex: 1;
}
.flex-center {
    align-items: center;
}
.align-center {
    align-items: center;
}
.grid {
    display: grid;
}
.grid-1 {
    grid-template-columns: 1fr 1fr;
}
.grid-1-4 {
    grid-template-columns: 1fr 4fr;
}
.clickable {
    cursor: pointer;
    font-weight: bolder;
    color: black;
}
.tree-container {
    grid-template-columns: 1fr 2fr;
}
.tree-container-prob {
    .left {
        width: 200px;
        overflow-x: scroll;
    }
    .right {
        flex: 1
    }
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-20 {
    margin-left: 20px
}
.ml-10 {
    margin-left: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.text-center {
    text-align: center;
}
.red {
    color: red;
}
.link {
    cursor: pointer;
    color: #409eff;
}
.btn-container {
    width: 80px;
    padding-top: 38px;
}