.grid {
    display: grid;
}
.grid-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mb-10 {
    margin-bottom: 10px
}
.mb-30 {
    margin-bottom: 30px
}
.fiel {
    display: flex;
}
.bg-white {
    background-color: white;
    box-shadow: rgb(48, 49, 51) 0px 0px 5px;
    height: 660px;
    overflow-y: scroll
}
.half {
    width: 50%;
}
.input-style {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.project-list {
    padding: 28px 20px 28px 20px;
    .list-item {
        padding: 24px 0 6px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        .project-name {
            width: 50%;
            padding-right: 10px;
            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .btn-group {
            text-align: center;
            width: 50%;
        }
    }
}
.grid {
    display: grid;
}
.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.task-container {
    padding: 20px;
}
.flex-1 {
    flex: 1;
}
.text-right {
    text-align: right;
}
.align-center {
    align-items: center;
}